<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link href="../static/css/main.css" type="text/css" rel="stylesheet"></link>
  </head>
  <body>
      <h3 class="label">Welcome To Admin Page</h3>
      <div>
          <button><a href="/ws/result">ResultSet</a></button>
          <button><a href="/ws/upload">Upload Prodct Catalog</a></button>
          <button><a href="/ws/import">Import Product Catalog To DB</a></button>
          <button><a href="/ws/search">Search Product</a></button>
          <button><a href="/static/pcatalog.xls">Download Catalog Template</a></button>
          <input type="hidden" name="pretty" value="pretty"></input>
      </div>
  </body>
</html>
